@media screen and (min-width: 1026px) {}
@media screen and (min-width: 760px) and (max-width: 1025px) {}
@media screen and (max-width: 480px) {}


/* body */
*{
  font-family:Playpen Sans;
  scroll-behavior: smooth;
}
:root{
  --primary-color1: #15C8F2;
}

/* nav */
.brandLogo{
  width: 100px;
  height: auto;
}
.nav-item a{
  font-weight: bold;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--primary-color1);
}
.nav-link:focus, .nav-link:hover {
  color: var(--primary-color1);
}
.myBtn1 {
    --bs-btn-color: #000;
    --bs-btn-bg: #15c9f28a;
    --bs-btn-border-color: #15c9f28a;

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--primary-color1);
    --bs-btn-hover-border-color: var(--primary-color1);

    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary-color1);
    --bs-btn-active-border-color: var(--primary-color1);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--primary-color1);
    --bs-btn-disabled-border-color: var(--primary-color1);
}

/* carousel */


/* courses */
.courseInCard{
  background: #fff;
  border-radius: 1rem;
}
.courseCardLink{
  text-decoration: none;
  color: black;
}
.courseCard:hover{
  box-shadow: 0px 0px 10px var(--primary-color1);
}
.courseCardTitle{
  min-height: 10vh;
}

/* batches */
.batchInCard{
  background: #101828;
  border-radius: 1rem;
}
.batchCardLink{
  text-decoration: none;
  color: black;
}
.batchCard:hover{
  box-shadow: 0px 0px 10px var(--primary-color1);
}
.batchCardTitle{
  min-height: 10vh;
}

/* free_test */
.headingHr{
  color: var(--primary-color1);
  border: 2px solid var(--primary-color1);
}

/* about_us */
.headingHr{
  color: var(--primary-color1);
  border: 2px solid var(--primary-color1);
}

/* contact_us */
.contactInCard{
  background: #15c9f22f;
  border-radius: 1rem;
}

/* footer */
.footerLink{
  text-decoration: none;
  color: black;
}
.footerLink:hover{
  color: var(--primary-color1);
  border-bottom: 1px solid var(--primary-color1);
}
.footerSocial{
  padding: 7px;
  background: white;
  border: 1px solid gray;
  border-radius: .5rem;
  
}
.footerSocial:hover{
  border: 1px solid var(--primary-color1);
  background: #15c9f21a;
}

/* scrol_top */
.scrol_top{
  position:fixed;
  right:10px;
  bottom:10px; 
  color: var(--primary-color1);
  z-index:2000;
}

/* cardCycle */
.cardCycle{
  border-radius: 1rem;
  /* background: var(--primary-color1); */
  border: 5px solid var(--primary-color1);
}
.cardCycle:hover{
  background: var(--primary-color1);
  border: 5px solid var(--primary-color1);
  color: white;
}
.linkCycle{
  text-decoration: none;
  color: black;
}

/* breadcrumb-item */
.breadcrumb-item a{
  text-decoration: none;
  color: var(--primary-color1);
}